.thirdSection {
    padding: 60px 80px 50px 170px;
    background: $grey;
    display: flex;
    @include laptop() {
        padding: 30px 11.5%;
    }
    @include tablet() {
        padding-right: 30px;
    }
    @include phone() {
        padding: 33px 10px 30px;
        flex-flow: column wrap;
        height: 260px;
    }
    &__title {
        color: white;
        font-size: 34px;
        margin-right: 30px;
        @include laptop() {
            font-size: 24px;
        }
        @include tablet() {
            margin-right: 0;
        }
    }
    &__content {
        color: white;
        width: 630px;
        padding-top: 65px;
        margin-right: 180px;
        @include tablet() {
            margin-right: 90px;
        }
        @include phone() {
            margin-right: 0;
            width: 85%;
            padding-top: 16px;
            margin-bottom: 20px;
        }
        &-subtitle {
            font-size: 30px;
            margin-bottom: 10px;
            @include laptop() {
                font-size: 20px;
            }
        }
        &-text {
            font-size: 18px;
            font-style: italic;
            line-height: 26px;
            margin-bottom: 45px;
            @include laptop() {
                font-size: 11px;
            }
            @include phone() {
                line-height: 14px;
                margin-bottom: 40px;
            }
        }
        &-line {
            height: 45px;
            width: 2px;
            background: $orange;
            margin-bottom: 15px;
        }
    }
}